.alice-carousel__stage {
    display: flex;
    justify-content: space-between;

    /* gap: 5rem; */
}

.alice-carousel__stage img {
    width: 80rem;
    display: flex;
    justify-content: center;
    padding-left: 8rem;
    padding-right: 8rem;
}

.alice-carousel__dots-item.__active {
    color: black;
}